{% extends "base.html" %}
{% block title %}Upload Image{% endblock %}
{% block content %}
    <div class="mt-4">
        <h1>Upload Image</h1>
        <form method="POST" action="{{ url_for('main.upload') }}" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.image.label(class="form-control-label") }}
                {{ form.image(class="form-control-file") }}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
{% endblock %}

